Title: {{title}}

{{{head_placeholder}}}

Main menu:

{{#main_menu}}
    Menu text: {{Text}}
    Menu link: {{Link}}
    {{#Selected}}This entry is selected{{/Selected}}
    {{#First}}This is first entry{{/First}}
    {{#Last}}This is last entry{{/Last}}
    ------------
{{/main_menu}}

{{#subm_using}}
Submenu:

{{#submenu}}
    Menu text: {{Text}}
    Menu link: {{Link}}
    {{#Selected}}This entry is selected{{/Selected}}
    {{#First}}This is first entry{{/First}}
    {{#Last}}This is last entry{{/Last}}
    ------------
{{/submenu}}
{{/subm_using}}
{{^subm_using}}
There is no submenu.
{{/subm_using}}

Content placeholder:

{{{body_placeholder}}}
